:root {
  --medium-blue: #366593;
  --light-blue: #427cb5;
  --lightest-blue: #f7f9fb;

  --medium-red: #ff0015;
  --light-red: #fef2f3;

  --darker-grey: #98a3a6;
  --dark-grey: #c8c6c4;
  --medium-shadow-grey: #edebe9;
  --medium-grey: #f3f2f1;
  --light-grey: #faf9f8;

  --light-txt-color: #ffffff;
  --dark-txt-color: #201f1e;
}

::-webkit-scrollbar {
  height: 12px;
  width: 10px;
  background: var(--light-grey);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-grey);
  width: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darker-grey);
}

::-webkit-scrollbar-corner {
  background: var(--light-grey);
}

.options-header-button {
  height: 100%;
  border: none;
  background-color: var(--medium-grey);
  border-radius: 0.3rem;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.8rem 0 0.8rem;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}

.options-header-button:hover {
  background-color: var(--medium-shadow-grey);
}

body {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
}
